# Rule-based Recommender

In [15]:
import pandas as pd

from recommender_systems.config import DATA_RAW

In [16]:
data = pd.read_csv(DATA_RAW / "data.csv", encoding="ISO-8859-1")

In [17]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [25]:
# Top stock codes by number of transactions
data.groupby(["StockCode", "Description"]).agg({"Quantity": "sum"}).sort_values(by="Quantity", ascending=False).head(10)

                                              Quantity
StockCode Description
84077     WORLD WAR 2 GLIDERS ASSTD DESIGNS      53847
85099B    JUMBO BAG RED RETROSPOT                47363
84879     ASSORTED COLOUR BIRD ORNAMENT          36381
22197     POPCORN HOLDER                         36334
21212     PACK OF 72 RETROSPOT CAKE CASES        36039
85123A    WHITE HANGING HEART T-LIGHT HOLDER     35025
23084     RABBIT NIGHT LIGHT                     30680
22492     MINI PAINT SET VINTAGE                 26437
22616     PACK OF 12 LONDON TISSUES              26315
21977     PACK OF 60 PINK PAISLEY CAKE CASES     24753